In [1]:
import pandas as pd
df = pd.read_csv('C:/Users/udoha/Desktop/daytempFileCSV.csv')
df.style.set_table_styles([{'selector': 'th,td', 'props': [('font-size', '12pt'),('border-style','solid'),('border-width','1px')]}])

In [2]:
df.head(3)
df.style.set_table_styles([{'selector': 'th,td', 'props': [('font-size', '12pt'),('border-style','solid'),('border-width','1px')]}])

In [3]:

df.tail(2).style.set_table_styles([{'selector': 'th,td', 'props': [('font-size', '12pt'),('border-style','solid'),('border-width','1px')]}])

# slicing

In [4]:
df[2:5].tail(2).style.set_table_styles([{'selector': 'th,td', 'props': [('font-size', '12pt'),('border-style','solid'),('border-width','1px')]}])

In [5]:
df.columns

Index(['Unnamed: 0', 'day', 'temp', 'windspeed', 'event'], dtype='object')

In [6]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [7]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

# print few columns
## to do that, you will have to open two square brackets, and input the columns u want to print out

In [8]:
df[['event', 'day','temp']]

   event       day  temp
0   Rain  1/1/2017    32
1  Sunny  1/2/2017    35
2   Snow  1/3/2017    28
3   Snow  1/4/2017    24
4   Rain  1/5/2017    32
5  Sunny  1/6/2017    32

In [9]:
df['temp'].max()

35

In [10]:
df['temp'].min()

24

In [11]:
df.describe()

       Unnamed: 0       temp  windspeed
count    6.000000   6.000000   6.000000
mean     2.500000  30.500000   4.666667
std      1.870829   3.885872   2.338090
min      0.000000  24.000000   2.000000
25%      1.250000  29.000000   2.500000
50%      2.500000  32.000000   5.000000
75%      3.750000  32.000000   6.750000
max      5.000000  35.000000   7.000000

In [12]:
df[df.temp>=32]

   Unnamed: 0       day  temp  windspeed  event
0           0  1/1/2017    32          6   Rain
1           1  1/2/2017    35          7  Sunny
4           4  1/5/2017    32          4   Rain
5           5  1/6/2017    32          2  Sunny

# printing out day that has a max temp and still print out the temp

In [13]:
df[['day', 'temp']][df.temp == df['temp'].max()]

        day  temp
1  1/2/2017    35

In [26]:
df.set_index('day', inplace=True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow

In [18]:
df

          Unnamed: 0  temp  windspeed  event
day
1/1/2017           0    32          6   Rain
1/2/2017           1    35          7  Sunny
1/3/2017           2    28          2   Snow
1/4/2017           3    24          7   Snow
1/5/2017           4    32          4   Rain
1/6/2017           5    32          2  Sunny

In [16]:
df.loc['1/3/2017']

Unnamed: 0       2
temp            28
windspeed        2
event         Snow
Name: 1/3/2017, dtype: object

In [21]:
df = pd.read_excel('C:/Users/udoha/Desktop/daytempFile.xlsx',"Sheet1")
df

   Unnamed: 0        day  temp  windspeed  event
0           0 2017-01-01    32          6   Rain
1           1 2017-01-02    35          7  Sunny
2           2 2017-01-03    28          2   Snow
3           3 2017-01-04    24          7   Snow
4           4 2017-01-05    32          4   Rain
5           5 2017-01-06    32          2  Sunny

# making data frame with python dictionaries

In [22]:
weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

# making dataframe with python tuples

In [25]:
weather_data = [
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7, 'Sunny'),
    ('1/3/2017', 28, 2, 'Snow')
]
df = pd.DataFrame(weather_data, columns=["day", 'temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow