In [1]:
import pandas as pd
df1 = pd.DataFrame({
    "city": ["Abeokuta", "Lagos", "Uyo"],
    "temperature": [21, 14, 15]
})
df1

       city  temperature
0  Abeokuta           21
1     Lagos           14
2       Uyo           15

In [2]:
df2 = pd.DataFrame({
    "city":["Abeokuta", "Lagos", "Uyo"],
    "humidity": [65, 68, 75]
})
df2

       city  humidity
0  Abeokuta        65
1     Lagos        68
2       Uyo        75

In [4]:
df3=pd.merge(df1,df2, on="city")
df3

       city  temperature  humidity
0  Abeokuta           21        65
1     Lagos           14        68
2       Uyo           15        75